<!DOCTYPE>
<html lang ="ja">
<head>
  <meta charset ="UTF-8">
  <meta name ="viewport" conte="width=devic-width",initial-scale=1.0>
  <title>Dictionary</title>
  <link rel="stylesheet" href="assets/stylesheets/application.css">
  <script src ="js/script.js" defer></script>
</head>
<body>
  <header class="header">
    <div>
      <%= image_tag 'keybo.png' %>
      <span><%= image_tag 'logo.png', width: 410 %></span>
    </div>
    <div class="menu-icon">
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>
  <div class="contents">
    <div class="content_btn">
      <a href="/dictionaries/new" class="btn03 pushdown"><span>単語を登録する</span></a>
      <a href="/dictionaries/new" class="btn03 pushdown"><span>辞書を登録する</span></a>
    </div>
    <div class="card-wrapper">
      <%= render partial:"word",collection:@dictionaries %>
    </div>
  </div>
</body>
</html>
